nav{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0.465);
    /* height: 200px; */
    padding: 1rem;
}
nav >a{
    font: 400 1.2rem cursive;
    color: rgb(37,105,208);
    text-decoration: none;
    margin: 0 0.3rem;
}